<h1>Posts</h1>

<div>
  <% unless user_signed_in? %>
    <%= link_to "sign in", new_user_session_path %><br>
    <%= link_to "sign up", new_user_registration_path %><br>
  <%end%>
  
  <% if user_signed_in? %>
    <%= link_to "Sign out", destroy_user_session_path, data: { turbo_method: :delete } %><br>
  <%end%>

  <%= link_to "create post", new_post_path %><br>
</div>

<div>
  <% @posts.each do |post| %>

    <h2><%= post.title %></h3>
    <div><%= post.body %></div>

    <% if user_signed_in? %>
      <div><%= User.find(post.user_id).email %></div>
    <%end%>

  <% end %>
</div>